$font-main: 'Space Grotesk', sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-dark: #191a23;
$color-light: #f3f3f3;
$color-green: #b9ff66;
$color-text: #191a23;
$color-muted: #898989;
$color-border: #191a23;

$radius-xl: 45px;
$radius-lg: 30px;
$radius-md: 20px;
$radius-sm: 14px;

$container-width: 1240px;
$shadow-card: 0 5px 0 $color-dark;
$transition: 0.25s ease;